@font-face {
  font-family: 'Arial Black';
  src: url(fonts/arialblack.ttf);
}

html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  overscroll-behavior-y: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Arial Black', Gadget, sans-serif;
}
select {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  text-align: center;
}
img {
  visibility: hidden;
  display: none;
}
.name {
  background-color: rgba(0, 0, 0, 0.5);
  border: 5px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.5);
  outline: none;
  font-size: 25px;
  color: #FFFFFF;
  padding: 5px;
  margin-top: 10px;
  border-radius: 50px;
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  text-align: center;
  margin-top: -38px;
  margin-left: -250px;
  font-weight: bold;
}
.settingscentered {
  position: fixed;
  top: 50%;
  left: 50%;
  text-align: center;
  width: 700px;
  height: 700px;
  margin-top: -350px;
  margin-left: -350px;
  font-weight: bold;
  background-color: rgba(255,255,255,0.9);
  color: #FFF;
}
.redirectcentered {
  position: fixed;
  top: 50%;
  left: 50%;
  text-align: center;
  width: 600px;
  height: 300px;
  margin-top: -230px;
  margin-left: -300px;
  font-weight: bold;
  background-color: rgba(255,255,255,0.9);
  color: #FFF;
}
/* .loading {
  font-weight: bold;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25);
} */
.underline {
  /*border-bottom: 10px solid white;*/
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(255, 255, 255, 0.4);
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.4);
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgba(255, 255, 255, 0.4);
}
:-moz-placeholder { /* Firefox 18- */
  color: rgba(255, 255, 255, 0.4);
}
#vignette {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  display: inline;
  visibility: visible;
  z-index: 2;
}
.a {
  display: inline-block;
	margin: 0 8px 0 0;
	width: 40px;
	height: 40px;
	line-height: 40px;
	background-size: 24px;
	background-position: center;
	background-repeat: no-repeat;
}
.navitem {
  display: inline;
  opacity: 1;
  transition-duration: 0.2s;
}
.navitem:hover {
  opacity: 0.6;
  cursor: pointer;
}
.navbreak {
  display: inline;
  margin: 10px;
  opacity: 0.3;
}
.gameWrapper #more {
  display: none;
}
.gameWrapper #nav {
  display: none !important;
}
.gameWrapper #settingbutton {
  display: none !important;
}
.modal {
  z-index: 300;
  position: fixed;
  text-align: center;
  top: 50%;
  bottom: 50%;
  visibility: hidden;
  display: none;
  font-weight: bold;
  background-color: rgba(255,255,255,0.9);
  color: #FFF;
}
.modalexit {
  position: absolute;
  top: -5px;
  right: 10px;
  font-size: 34px;
  font-weight: normal;
  cursor: pointer;
  color: #F00;
}
.modaltitle {
  color: #000;
  padding: 25px;
  font-size: 30px;
  font-family: sans-serif;
  height: 36px;
}
.modalbreak {
  width: 100%;
  height: 3px;
  background-color: rgba(0,0,0,0.2);
}
.modalcontent {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 211px;
  color: #000;
  font-weight: normal;
  font-size: 20px;
}
.fixeda {
  float: initial;
	margin: initial;
	width: initial;
	height: initial;
	line-height: initial;
	background: none;
	color: #4286f4;
}
.iosStore, .androidStore {
  display: inline-block;
	width: calc(564px * 0.35);
  height: calc(168px * 0.35);
  margin-right: 10px;
  line-height: 168px;
  background-size: contain;
  background-repeat: no-repeat;
	background-position: center;
}
.iosStore {
  background-image: url(images/download-ios.png);
}
.androidStore {
  background-image: url(images/download-android.png);
}
#mobileStoreHolder {
  display: flex;
  margin-top: 20px;
}
.gameWrapper #mobileStoreHolder {
  display: none;
}
.gameWrapper #promptRating {
  display: none;
}
.gameWrapper #followSocialDetails {
  display: none;
}
#followSocialDetails {
  display: none;
}
.discord {
	background-image: url(images/discord.png);
	background-color: #7289da;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2), 0 4px 0 #6077c8;
	border-radius: 6px;
	border: 1px solid black;
}
.discord:hover {
	background-color: #6077c8;
}
.twitter {
	background-image: url(images/twitter.png);
	background-color: #1b95e0;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2), 0 4px 0 #0983ce;
	border-radius: 6px;
	border: 1px solid black;
}
.twitter:hover {
	background-color: #0983ce;
}
.youtube {
	background-image: url(images/youtube.png);
	background-color: #e52d27;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2), 0 4px 0 #d31b15;
	border-radius: 6px;
	border: 1px solid black;
}
.youtube:hover {
	background-color: #d31b15;
}
.reddit {
	background-image: url(images/reddit.png);
	background-color: #FF6666;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2), 0 4px 0 #DD4444;
	border-radius: 6px;
	border: 1px solid black;
}
.reddit:hover {
	background-color: #DD4444;
}
.insta {
	background-image: url(images/insta.png);
	background-color: #FF6666;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2), 0 4px 0 #DD4444;
	border-radius: 6px;
	border: 1px solid black;
}
.insta:hover {
	background-color: #DD4444;
}
.ref {
	text-decoration: none;
	text-align: center;
	color: #FFFFFF;
	background-color: #777777;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2), 0 4px 0 #555555;
	border-radius: 6px;
	border: 1px solid black;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.ref:hover {
	background-color: #555555;
	cursor: pointer;
}
#ref1 {
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
#ref2 {
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
#reftopleft {
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.queue {
  text-align: center;
  width: 255px;
  height: 85px;
  -webkit-filter: drop-shadow(0px 0px 0px #222);
  filter: drop-shadow(0px 0px 0px #222);
  display: initial;
  visibility: visible;
  transition-duration: 0s;
  cursor: initial;
}
.queue:hover {
	/*-webkit-filter: drop-shadow(0px 0px 3px #ccc);
  filter: drop-shadow(0px 0px 3px #ccc);*/
  cursor: pointer;
}
.noselect {
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}
.yesselect {
  user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  -webkit-user-select: text;
}
.round {
    border: 3px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    background: rgba(0,0,0,0.3);
    width: 230px;
    text-align: center;
    height: 25px;
    font-size: 16px;
    overflow: hidden;
    height: 25px;
    padding: 5px;
    margin-bottom: 12px;
}
.partyborder {
    border: 3px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    background: rgba(0,0,0,0.3);
    height: 25px;
    padding: 5px;
    margin-bottom: 12px;
}
.partyinput {
    border: none;
    background: rgba(0,0,0,0);
    width: 230px;
    text-align: center;
    height: 25px;
    font-size: 16px;
    overflow: hidden;
    height: 25px;
    outline: none;
    color: #FFF;
}
.createbutton {
	border: 3px solid rgba(0,187,0,1);
  border-radius: 20px;
  padding: 5px;
  font-size: 16px;
  height: 25px;
  text-decoration: none;
  width: 230px;
  color: #FFF;
  font-family: Arial Black;
  background: rgba(0,187,0,0.5);
  text-shadow: 0px 0px 4px rgba(0,187,0,1);
  text-align: center;
  transition-duration: 0.1s;
  margin-bottom: 12px;
}
.createbutton:hover {
	background: rgba(0,187,0,0.8);
  cursor: pointer;
}
.joinbutton {
	border: 3px solid rgba(81,121,241,1);
  border-radius: 20px;
  padding: 5px;
  font-size: 16px;
  height: 25px;
  text-decoration: none;
  width: 230px;
  color: #FFF;
  font-family: Arial Black;
  background: rgba(81,121,241,0.5);
  text-shadow: 0px 0px 4px rgba(81,121,241,1);
  text-align: center;
  margin: none;
  transition-duration: 0.1s;
  margin-bottom: 12px;
}
.joinbutton:hover {
	background: rgba(81,121,241,0.8);
  cursor: pointer;
}
.backbutton {
	border: 3px solid rgba(60,60,60,1)/*3px solid rgba(100,100,100,1)*/;
  border-radius: 20px;
  padding: 5px;
  font-size: 16px;
  height: 25px;
  text-decoration: none;
  width: 230px;
  color: #FFF;
  font-family: Arial Black;
  background: rgba(60,60,60,0.5);/*rgba(100,100,100,0.5);*/
  text-shadow: 0px 0px 4px rgba(100,100,100,1);
  text-align: center;
  margin: none;
  transition-duration: 0.1s;
  margin-bottom: 12px;
}
.backbutton:hover {
	background: rgba(60,60,60,0.8);/*rgba(100,100,100,0.8);*/
  cursor: pointer;
}
.leavebutton {
	border: 3px solid rgba(81,121,241,1);
  border-radius: 20px;
  padding: 5px;
  font-size: 16px;
  height: 25px;
  text-decoration: none;
  width: 230px;
  color: #FFF;
  font-family: Arial Black;
  background: rgba(81,121,241,0.5);
  text-shadow: 0px 0px 4px rgba(81,121,241,1);
  text-align: center;
  margin: none;
  transition-duration: 0.1s;
  margin-bottom: 12px;
}
.leavebutton:hover {
	background: rgba(81,121,241,0.8);
  cursor: pointer;
}
.sharebutton {
	border: 3px solid rgb(241, 212, 81);
  border-radius: 20px;
  padding: 5px;
  font-size: 16px;
  height: 25px;
  text-decoration: none;
  width: 230px;
  color: #FFF;
  font-family: Arial Black;
  background: rgba(241, 212, 81, 0.5);
  text-shadow: 0px 0px 4px rgb(241, 212, 81);
  text-align: center;
  margin: none;
  transition-duration: 0.1s;
  margin-bottom: 12px;
}
.sharebutton:hover {
	background: rgba(241, 212, 81, 0.8);
  cursor: pointer;
}
.settingbutton {
	border: 3px solid rgba(128,0,128,1);
  border-radius: 20px;
  padding: 5px;
  font-size: 16px;
  height: 25px;
  text-decoration: none;
  width: 230px;
  color: #FFF;
  font-family: Arial Black;
  background: rgba(128,0,128,0.5);
  text-shadow: 0px 0px 4px rgba(128,0,128,1);
  text-align: center;
  margin: none;
  transition-duration: 0.1s;
  margin-bottom: 12px;
}
.settingbutton:hover {
	background: rgba(128,0,128,0.8);
  cursor: pointer;
}
.emptyatag {
	text-decoration: none;
  color: #FFF;
  margin: 0px;
  width: 230px;
  height: 25px;
}
#aip_gdpr a {
    float: none;
    margin: 0;
    width: auto;
    height: auto;
}

#aip_gdpr img {
    visibility: visible;
    display: block;
}

#aip_gdpr * {
    font-family: Helvetica Neue,arial,sans-serif;
}

.column {
  float: left;
  width: 50%;
  text-align: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.keybindbutton {
  cursor: pointer;
}

.bind {
  border: solid 3px #000;
  background-color: rgba(0,0,0,0);
  transition-duration: 0.2s;
}

.bind:hover {
  background-color: rgba(0,0,0,0.15);
  cursor: pointer;
}

.exit {
  opacity: 0.6;
  transition-duration: 0.2s;
}

.exit:hover {
  opacity: 1;
}

option {
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
}

.wskin {
  background-color: none;
  transition-duration: 0.2s;
}

.wskin:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.ytsub {
  transition-duration: 0.2s;
}

.ytsub:hover {
  opacity: 0.7;
}
#name.mobileInput {
  top: 25%;
}
.createbutton, .joinbutton, .leavebutton, .backbutton, .leavebutton, .sharebutton, a.a, .iosStore, .androidStore {
  transition: 0.1s;
  transform-origin: center center;
  
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}
.createbutton.pressed, .joinbutton.pressed, .leavebutton.pressed, .backbutton.pressed, .leavebutton.pressed, .sharebutton.pressed, a.a.pressed, .iosStore.pressed, .androidStore.pressed {
  transform: scale(0.95);
}